body{
  
    color: white;
}
#banner {
    padding: 100px;
    background-position: center left;
    background-image: linear-gradient(3deg, #fffffc 11%, rgba(0, 0, 0, 0.4) 12%), url("https://media-exp1.licdn.com/dms/image/C4D16AQHjdKNZPUDaHw/profile-displaybackgroundimage-shrink_350_1400/0/1569221717208?e=1637193600&v=beta&t=madckn8ZoEILvsDCvqsO8drATBruno6U_7KoiZ0wIJ8") !important;
    text-align: right;
}