
#banner {
    margin-top: -100px;
    padding: 350px 0px;
    background-position: top left;
    background-image: url("Banner.jpg");
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

#banner h1 {
    font-size: 3em;
    font-weight: 500;
    background-color: #111;
    padding: 5px;
    width: fit-content;
    word-wrap: break-word !important;
    position: absolute;
    right: 5px; 
    left: 5;
    margin:0px 10px;
    color: white;
}

span#banner--text::before {
    transition: ease-in;
    content: "an Award winning Actor";
    animation: animate infinite 7s;
    word-wrap: break-word !important;
}


#social-media a img{
    margin-left: 10px;
    transition: filter .5s ease-in-out;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

#social-media a img:hover{
filter: grayscale(100%);
-webkit-filter: grayscale(100%)
}


@keyframes animate {

    16% {
        content: "an IIM graduate";
    }

    36% {
        content: "an International TEDx speaker";
    }

    52% {
        content: "a TV Panellist";
    }

    66% {
        content: "a Defence Expert";
    }

    82% {
        content: "a Strategic Affairs Expert";
    }

    96% {
        content: "an Award winning Actor";
    }
}

@media screen and (max-width: 768px) {
#banner h1{
    font-size: 2.5em;
    bottom: 10px;
    margin: 0px 10px !important;
    right: 0px;
}
#banner{
    padding: 250px 0;
}
}